.breve-explicacion {
    text-align: justify;
}

.testimonios {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 20px;

}

.card {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    width: 95%;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.card-image {
    margin: 0;
    padding: 5px;
    width: 20%;
    min-width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-image img {
    width: 100%;
    height: auto;
    display: block;
}

.card-image figcaption {
    text-align: center;
    font-size: 0.9em;
    color: #555;
    padding: 8px;
    background-color: #f4f4f4;
}

.card-content {
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-content h2 {
    margin-top: 0;
}

.card-content p {
    margin-bottom: 0;
    text-align: justify;
}
