/* Estilos generales*/
body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
  }
  
  /*Encabezado*/

  .encabezado {
    background-color: #e0aee6;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    /* height: 70px;*/
  }

  .site-branding img {
    padding: 3px;
    border-radius: 50%; /*crea un borde redondo */
    background-color: transparent;
    width: 100px; /* Ajusta el tamano del logo segun sea necesario*/
  }

  .logo-enlace {
    display: inline-block;
    padding: 10px;
  }

  .logo-enlace img {
    width: 100px;
    animation: aparecer 1s ease-in-out alternate infinite;
  }

  @keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .logo-enlace:hover {
    cursor: pointer;
  }

  
.hamburger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  margin-left: auto;
}

.hamburger-menu .line {
  width: 25px;
  height: 3px;
  background-color: #000;
  margin: 4px 0;
}

  .nombre-empresa {
    margin: 0;
    font-size: 24px;
  }

  .menu-de-opciones ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  }

  .menu-de-opciones li {
    margin: 0 10px;
  }
  
  .menu-de-opciones a {
    display: block;
    text-decoration: none;
    color: #333333;
    padding: 0.5em 1em;
    font-size: 16px;
    transition: font-size 0.3s ease;
  }

.menu-de-opciones a:hover {
  color: #007bff; /* Cambia el color al pasar el cursor sobre enlaces*/
  font-size: 18px;
}

/* Responsive styles para menu hamburguesa*/
@media (max-width: 768px) {

  .hamburger-menu {
   display: flex;
  }
	
 .menu-de-opciones {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 70px;    /* Adjust as needed */
    right: 0;
    background-color: #e0aee6;
    width: 200px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 999; /* Asegura que el menú esté por encima de otros elementos */
	 
  }

 .menu-de-opciones.active {
    display: flex;
  }

  .menu-de-opciones ul {
    flex-direction: column;
  }

  .menu-de-opciones li {
    margin: 10px 0;
    text-align: center;
  }

}

.menu-de-opciones a {
  display: block;
  text-decoration: none;
  color: #333333;
  padding: 0.5em 1em;
  font-size: 16px;
  transition: font-size 0.3s ease;
}

.menu-de-opciones a:hover {
  color: #007bff;
  /* Cambia el color al pasar el cursor sobre enlaces*/
  font-size: 18px;
}


.site-branding img {
  padding: 3px;
  border-radius: 50%;
  /*crea un borde redondo */
  background-color: transparent;
  width: 100px;
  /* Ajusta el tamano del logo segun sea necesario*/
}

.logo-enlace {
  display: inline-block;
  padding: 10px;
}

.logo-enlace img {
  width: 100px;
  animation: aparecer 1s ease-in-out alternate infinite;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.logo-enlace:hover {
  cursor: pointer;
}

.nombre-empresa {
  margin: 0;
  font-size: 24px;
}
/*fin de Responsive style*/


/* Secciones de contenido de inicio*/

  .centrado { 
    max-width: 1200px;
    margin: 0 auto;
    /*padding: 0 1em;*/
    padding: 20px;
    /*background-color: #ffffff;
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
    /*display: flex;*/
    justify-content: space-between;
    align-items: center;
  }

  .parrafos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* para que queden bien distribuidas en la pantalla */
    margin-top: 10px;
  }
  
  .parrafo {
    flex-basis: 30%; /* Ajusta el ancho de los articulos segun sea necesario*/
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInUp 1s ease forwards;
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .parrafo-contenido h1 {
    margin-top: 0;
    font-size: 20px;
    text-align: center;
   /* margin-bottom: .5em;
   /*font-weight: normal;*/
  }
  
  .parrafo-contenido p {
    font-size: 16px;
  }

  .parrafo img {
    width: 100%; /* Ajusta el tamaño de la imagen al contenedor */
    transition: transform 0.5s ease;
  }

  .parrafo img:hover {
    transform: scale(1.1);
  }
/* Fin estilos de Inicio*/

/* Estilos para Sobre Nosotros en aboutus.css*/

/* Animación para hacer aparecer los testimonios uno tras otro */
@keyframes aparecer {
  0% {
	opacity: 0;
	transform: translateY(20px);
   }
     100% {
	 opacity: 1;
	 transform: translateY(0);
	}
   }

/* Retraso individual de cada testimonio (para que aparezca uno desp de otro) */

.testimonios .card:nth-child(1) {
  animation: aparecer 0.5 ease-in-out 1s;
  /* animation-delay: 0s;*/
  /* testimonio 1*/
}

.testimonios .card:nth-child(2) {
  animation: aparecer 0.5 ease-in-out 1.5s;
 /*  animation-delay: 0.5s; */
 /* testimonio 2 */
}

 .testimonios .card:nth-child(3) {
   animation: aparecer 0.5 ease-in-out 2s;
  /* animation-delay: 1s;*/
   /* testimonio 3 */
}
/* Fin Animaciones de Testimonios*/

/* Estilos titulo Reserva Turno*/
 .reservaTurnos h2{
    text-align: center;
    margin-top: 40px;
    font-size: 25px;
    animation: fadeInUp 1s ease forwards;
  }
/* Fin estilo Titulo Reserva Turno*/

/*Estilos de Preguntas Frecuentes*/

  h2{
    text-align: center;
    margin-top: 40px;
    font-size: 25px;
    animation: fadeInUp 1s ease forwards;
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .preguntas {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Espacio inferior entre preguntas*/
    overflow: hidden; /* Evitar que el contenido se desborde*/
    transition: background-color 0.3s ease;
  }

  .preguntas:hover{
    background-color: #f0f0f0;
  }
  
  .pregunta-contenido {
    padding: 20px;
  }

  .pregunta-contenido h1 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
  }

  .pregunta-contenido p {
    margin-bottom: 0;
   /* margin-left: 20px;*/
  }
/*Fin de estilos Preguntas Frecuentes*/

/* Estilos para el footer*/
  footer { 
    background-color: #e0aee6;
    color:#fff;
    padding: 20px 0; /*Espaciado interno (abajo, arriba, izq y der)*/

  }
  .contenedor {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .iconos-footer {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }

  .iconos-footer li {
    margin-right: 15px; /* Espacio entre elementos*/
  }

  .iconos-footer li:last-child {
    margin-right: 0; /* Elimina el margen derecho del ultimo elemento*/   
  }

  .iconos-footer a {
    color:  #333333;
    text-decoration: none;
    font-size: 20px;
    transition: opacity 0.3s ease; /*agrega transicion a la opacidad*/
  }

  .iconos-footer a:hover {
    opacity: 0.7;
  }
/* Fin estilos para Footer*/

  /* Media Queries para tamaños de pantalla */
  @media screen and (max-width: 768px) {
     /* Estilos para tablet */
     .encabezado {
      flex-direction: column;
      align-items: center;
     }

     .site-branding img {
      margin-bottom: 10px;
     }

     .nombre-empresa {
      font-size: 20px;
     }

     .parrafos {
        flex-direction: column;
     }

     .parrafo {
        flex-basis: 100%;
        margin-bottom: 20px;
     }

     .contenedor {
        flex-direction: column;
        align-items: flex-start;
     }

     .iconos-footer {
        margin-top: 10px;
     }

     .formulario__grupo {
      flex: 1 1 calc(50% - 20px);/*Distribuye elementos en dos columnas*/
     }

     .formulario__grupo-btn-enviar,
     .formulario__grupo-btn-borrar {
      width: 100%;
     }
  }

  @media screen and (max-width: 576px) {
    /* Estilos para celular */
    .encabezado {
        flex-direction: column;
        align-items: center;
        padding-bottom: 10px;
    }

    .site-branding img {
        margin-bottom: 10px; /* Ajusta el margen inf. del logo segun sea necesario*/ 
    }

    .nombre-empresa { /* Ajusta el tamaño del nombre de la empresa segun sea necesario*/
        font-size: 20px;
    }

    .menu-de-opciones {
      margin-top: 10px;
    }

    .menu-de-opciones ul { /* Ajusta el margen sup. del menu de opciones segun sea necesario*/
        flex-direction: column;
        align-items: center;
    }

    .menu-de-opciones li {
        margin-bottom: 10px;
    }

    .menu-de-opciones a {
      font-size: 16px;
      padding: 10px 20px;
    }

    .contenedor {
        flex-direction: column;
        align-items: center;
    }

    .iconos-footer {
      margin-top: 20px;
    }
  }
/* Fin Media Querys*/
