{% extends 'core/base.html' %}
{% load static %}

{% block title %}Sobre Nosotros{% endblock %}
{% block links %}
<link rel="stylesheet" href="{% static 'core/css/aboutus.css' %}">
{% endblock%}

{% block content %}
{% comment %} {{projects}} {% endcomment %} 

<main>
  <div class="sobrenosotros">
    <h1>Sobre Nosotros</h1>
     <p class="breve-explicacion">
<strong>Virtual Wait</strong> es una plataforma innovadora diseñada para simplificar la gestión de citas médicas. Nuestro objetivo es proporcionar una solución eficiente y conveniente tanto para los profesionales de la salud como para los pacientes. Con Virtual Wait, puedes reservar fácilmente tus citas médicas desde cualquier lugar, ahorrando tiempo y simplificando tu experiencia de programación. Nos esforzamos por ofrecer un servicio de calidad, respaldado por una interfaz intuitiva y un equipo de soporte dedicado. 
</p> 
   </div>
   <div class="testimonios">
<h2>Testimonios de Usuarios</h2>
{% for project in projects %} 
<div class="card">
      <figure class="card-image">
        <img src="{{project.image.url}}" alt="Testimonio">
        <figcaption><strong>{{project.title}}</strong><br>
          <em>{{project.role}}</em>
        </figcaption>
      </figure>
      <div class="card-content">
        <p>{{project.description}}</p>
      </div>
    </div>
{% endfor %} 
  </div>       		 
</main>
{% endblock %}
	 
      